# Build outputs
bin/
obj/

# Environment & secrets
appsettings.Development.json
.env

# Logs
Logs
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

publish/